<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
    <head>
        <title>Med Reminder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--we used bootstrap to make out page work better on differently sized screens, mostly mobile-->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/reminder.css"/>

        <!-- jquery from a content distribution network; probably cached -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!--don't think we need below. testing required-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

        <!--remove below after date range picker is removed.-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


    </head>

    <body>
        <div class="container">

            <h1>Data Checking</h1>
            <p>This webpage will write the contents of your calender in the date range to a log file for us to read.</p>
            <p>Please click the Button once and enter your credentials. Then you're done!</p>

            <form action="/generate">
                <input type="submit" value="Generate Log" />
            </form>

            <script>
            <!--inline js here if you like-->
            </script>
        </div>
    </body>
</html>

