<!DOCTYPE html>
<html lang="en">
<head>
    <title>Complete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--we used bootstrap to make out page work better on differently sized screens, mostly mobile-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/reminder.css"/>

    <!-- jquery from a content distribution network; probably cached -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!--don't think we need below. testing required-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!--remove below after date range picker is removed.-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>

<body>
    <h1>Logging complete!</h1>


    <div id="tablespace">
        <form action="/formprocess">
            <table id="tabletime" style="width:80%;border: 1px solid black;">
                <tr>
                    <th id="send">Send Email?</th>
                    <th id="fostername">Foster Name</th>
                    <th id="fosteremail">Foster Email</th>
                    <th id="animal">Animal Name(s)</th>
                    <th id="meds">Medication Details</th>
                    <th id="notes">Notes</th>
                </tr>

            </table>
            <input type="submit" value="Submit">
        </form>

<!-- JSON Data format:
    { 0: {Foster Name : "John Smith",
        Foster Email : "jsmith@email.com",
        Animal Name(s) : "Fluffy Bunny",
        Medication(s) : "Love, Hugs",
        Notes : "blah blah blah blah"}, 1: {....}, 2: {....} } -->

    <script>
    <!--inline js here if you like-->
        $(document).ready(function() {
            $.ajax({
                url: "/fakedata",
                type: 'GET',
                cache: false,
                success: function(animals) {
                    console.log("success", animals);
                    var count = Object.keys(animals).length;
                    console.log("count =", count);
                    var fields = ["Foster Name", "Foster Email", "Animal Name(s)", "Medication(s)", "Notes"];
                    var tableRef = $("#tabletime");
                    for (i = 0; i < count; i++) {
                        tableRef.append('<tr' + ' id=row' + i + '>' + '</tr>');
                        var rowRef = $("#row" + i );
                        rowRef.append('<input type="checkbox" name="emailselect">');
                        for (j = 0; j < fields.length; j++) {
                            rowRef.append('<td>' + animals["" + i + ""][fields[j]] + '</td>' );
                        }
                    }
                }
            })
        });
    </script>
</body>
</html>